<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maxinum-scale=1, user-scalable=no">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
		<title>post content page</title>
	</head>
	<body>
		<br>
		<div class="container">
			<div class="card">
				<div class="card-body">
					{% for data_ in data %}
					<div class="card-header"><h3><strong>{{data_['title']}}</strong></h3></div>
					<div class="card-body">
						{{data_['content']}}
					</div>
					<div class="card-footer">
						<a href="/post/edit/{{data_['id']}}" class="card-link">수정하기</a>
						<a href="/post/delete/{{data_['id']}}" class="card-link">삭제하기</a>
						<a href="/post" class="card-link">목록으로</a>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>	
	</body>
</html>