<!--<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maxinum-scale=1, user-scalable=no">
		<title>edit page</title>
	</head>
	<body>
        <form method="POST" action="/post/edit/{{title}}">
            <p>
            <h2> 게시글수정 </h2>
            <h4> 접속자 : {{logininfo}} 님. </h4>
            <input type="text" name="title" style="width:305px;" autofocus required wrap="hard" placeholder="제목을 입력하세요."><br><br>
            <textarea name="content" cols="40" rows="10" placeholder="내용을 입력하세요."></textarea>
            </p>
			<button type = "submit">수정하기</button>
		</form>
	</body>
</html>-->

<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>edit page</title> 
    <!--<link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/starter-template.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head> 
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li>접속자 : <strong>{{logininfo}}</strong> 님</li>
                </ul>
            </nav>
            <h3 class="text-muted">게시판 글수정</h3>
        </div>
        <section>
            <form class="form-horizontal" method="post" action="/post/edit/{{title}}">
                <fieldset>
                    <!-- Form Name -->
                    <legend>Edit Your Post</legend>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-12" for="txtTitle">Title</label>
                        <div class="col-md-12">
                            <input id="txtTitle" name="title" type="text" placeholder="제목을 입력하세요." class="form-control input-md", autofocus required value="{{title}}"><!--required : 공백입력시 경고-->
                        </div>
                    </div>
                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-12" for="txtPost">Post</label>
                        <div class="col-md-12">
                            <textarea class="form-control" id="txtPost" name="content" placeholder="내용을 입력하세요." style="height:260px;" required value="{{content}}"></textarea>
                        </div>
                    </div>
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="singlebutton"></label>
                        <div class="col-md-12">
                            <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="수정하기">
                        </div>
                    </div>
                </fieldset>
            </form>
        </section>
    </div>
</body>
</html>