<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>edit page</title> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head> 
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li>접속자 : <strong>{{logininfo}}</strong> 님</li>
                </ul>
            </nav>
            <h3 class="text-muted">게시판 글수정</h3>
        </div>
        <section>
            {% for data_ in data %}
            <form class="form-horizontal" method="post" action="/post/edit/{{data_['id']}}">
                <fieldset>
                    <!-- Form Name -->
                    <legend>Edit Your Post</legend>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-12" for="txtTitle">Title</label>
                        <div class="col-md-12">
                            <input id="txtTitle" name="title" type="text" placeholder="제목을 입력하세요." class="form-control input-md", autofocus required value="{{data_['title']}}"><!--required : 공백입력시 경고-->
                        </div>
                    </div>
                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-12" for="txtPost">Post</label>
                        <div class="col-md-12">
                            <textarea class="form-control" id="txtPost" name="content" placeholder="내용을 입력하세요." style="height:260px;" required>{{data_['content']}}</textarea>
                        </div>
                    </div>
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-12 control-label" for="singlebutton"></label>
                        <div class="col-md-12">
                            <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="수정하기">
                        </div>
                    </div>
                </fieldset>
            </form>
            {% endfor %}
        </section>
    </div>
</body>
</html>