<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maxinum-scale=1, user-scalable=no">
		<title>edit page</title>
	</head>
	<body>
        <form method="POST" action="/post/edit/{{title}}">
            <p>
            <h2> 게시글수정 </h2>
            <h4> 접속자 : {{logininfo}} 님. </h4>
            <input type="text" name="title" style="width:305px;" autofocus required wrap="hard" placeholder="제목을 입력하세요."><br><br>
            <textarea name="content" cols="40" rows="10" placeholder="내용을 입력하세요."></textarea>
            </p>
			<button type = "submit">수정하기</button>
		</form>
	</body>
</html>