<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maxinum-scale=1, user-scalable=no">
		<title>login page</title>
	</head>
	<body>
		<form method="POST" action="/login">
			<h2> try login. </h2>
			<input type = "text" name ="id" placeholder="username" autofocus required>
			<input type = "password" name="pw" placeholder="password" required>
			<button type = "submit">Login</button>
		</form>
	</body>
</html>

