<!--
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maxinum-scale=1, user-scalable=no">
		<title>post page</title>
		<link rel="stylesheet">
	</head>
	<body>
		<form>
			<input type="submit" value="게시글작성" formaction="/write">
		</form><br>

		{% for post in postlist %}
		{{post['id']}} &emsp;<a href="/post/content/{{post['title']}}">{{post['title']}}</a> &emsp; {{post['name']}} &emsp; {{post['view']}} &emsp; {{post['wdate']}}<br>
		{% endfor %}

	</body>
</html>
-->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maxinum-scale=1, user-scalable=no">

		<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		
		<title>post page</title>
	</head>
	<body>
	<div class="container">
	<table class="table table-hover">
		<thead>
		<tr>
			<th >번호</th>
			<th>제목</th>
			<th>작성자</th>
			<th>날짜</th>
			<th>조회수</th>
		</tr>
		</thead>

		<tbody>
		{% for post in postlist %}
		<tr>
			<td>{{post['id']}}</td>
			<td><a href="/post/content/{{post['title']}}">{{post['title']}}</a></td>
			<td>{{post['name']}}</td>
			<td>{{post['wdate']}}</td>
			<td>{{post['view']}}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	<form>
	<input type="submit" class="btn btn-primary pull-right" value="게시글쓰기" formaction="/write">
	</form>
	</div>
	</body>
</html>