<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maxinum-scale=1, user-scalable=no">
		<title>post page</title>
		<link rel="stylesheet">
	</head>
	<body>
		<form>
			<input type="submit" value="게시글작성" formaction="/write">
		</form><br>

		{% for post in postlist %}
		<a href="/post/content/{{post['title']}}">{{post['title']}}</a> &emsp; {{post['name']}} &emsp; {{post['view']}} &emsp; {{post['wdate']}}<br>
		{% endfor %}

	</body>
</html>